.header {
  text-align: center;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  color: white;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 90vw;
  max-width: 800px;
}

.generate-button {
  max-width: 100px;
  margin-top: 20px;
}

.category {
  max-width: 750px;
  width: 80vw;
  height: 200px;
  text-align: center;
  list-style: none;
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 20px;
  background-color: lightblue;
}
